<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock content %}
    {% include 'footer.html' %}
</body>
</html>