{% block navbar %}
<div class="navbar bg-base-200">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{{ url_for('indexPage') }}">Homepage</a></li>
          {% if session %}
          <li><a href="{{ url_for('loginPage') }}">dashboard</a></li>
          {% else %}
          <li><a href="{{ url_for('loginPage') }}">Login/Register</a></li>
          {% endif %}
          <li><a href="{{ url_for('aboutPage') }}">About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl">Mft-Flask</a>
    </div>
    <div class="navbar-end">
    </div>
  </div>
{% endblock navbar %}